body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: red;
}

p {
    margin: 5px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
